body {
  background-image: url('https://images8.alphacoders.com/548/thumb-350-548142.jpg');
}

nav {
  color: white;
  background-color: black;
  font-size: 70px;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

a {
  background-color: red;
  color: white;
  padding: 1% 2%;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid white;
}

a:hover {
  cursor: pointer;
}

#pokedex {
  margin-top: 8%;
  margin-left: 17%;
  border-radius: 20px;
  background-color: rgb(209, 36, 36);
  width: 67%;
  height: 300px;
  border: 1px solid white;
}

#bot-dex {
  height: 400px;
  width: 50%;
  background-color: black;
  margin-left: 25%;
  margin-top: -406px;
  border: 3px solid red;
  border-radius: 20px
}

#picap {
  padding-left: 30%;
  display: grid;
  grid-template: 300px 100px / 550px;
  color: white;
  padding-bottom: 10%;
}

#caption {
  padding-left: 9%;
  text-transform: capitalize;
  font-size: 25px;
}

.screen {
  margin-top: -33%;
  margin-left: 27%;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  display: grid;
  grid-template: 140px 60px 60px 60px 60px / 400px;
}

#pic {
  height: 100%;
  width: 80%;
}
